<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>To do list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>It's <%= kindOfDay %>!</h1>
  </div>

  <div class="box">
  <%  newListItems.forEach(function(item){ %>
      <div class="item">
        <input type="checkbox">
        <p><%=item.name%></p>
      </div>
  <%  })  %>
    <form class="item" action="/" method="post">
      <!-- when submit button clicked, form makes post request to the home route and post "newItem" -->
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>


</body>

</html>
